$primary: #ffffff;
$secondary: #f4f4f4;
$ternary: #dce3e7;
$danger: #B00020;
$green: #28590C;

$primary-text-color: #373737;
$secondary-text-color: #575555;
$ternary-text-color: #7e7e7e;
$yellow-heading-color: #e7930e;
